@page "/admin/products"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorEcommerce.Data
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin")]
@implements IAsyncDisposable
@inject IDbContextFactory<BlazorEcommerce.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="products/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Product.Include(p => p.Category)">
    <PropertyColumn Property="product => product.Name" />
    <PropertyColumn Property="product => product.Price" />
    <PropertyColumn Property="product => product.CreatedDate" />
    <PropertyColumn Property="product => product.ModifiedDate" />
    <PropertyColumn Property="product => product.IsDeleted" />
    <PropertyColumn Property="product => product.Category.Name" />

    <TemplateColumn Context="product">
        <a href="@($"admin/products/edit?id={product.Id}")">Edit</a> |
        <a href="@($"admin/products/details?id={product.Id}&returnUrl={NavigationManager.ToBaseRelativePath(NavigationManager.Uri)}")">Details</a> |
        <a href="@($"admin/products/delete?id={product.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
